body {
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(246, 246, 246);
    width: 100%;
}
.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.header-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 89px;
    width: 1180px;
    margin: 0px 164px;
    padding: 0px 40px;
}
.titles {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
    padding: 0px 15px;
}
.text-medee {
    background-color: white;
    width: 550px;
    height: 260px;
    display: none;
    position: absolute;
    top: 65px;
    left: 670px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    align-content: space-around;
    justify-content: space-around;
    flex-direction: row;
    border-radius: 5px;
    z-index: 2;
}
.news:hover + .text-medee {
    display: flex;
}
.news {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    cursor: pointer;
}
.bulan {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    cursor: pointer;
}
.watch {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.header-style {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    cursor: pointer;
}
#English {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.text-medee1 {
    display: flex;
    flex-direction: column;
}
.text-medee10 {
    background-color: white;
    height: 220px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: start;
    display: none;
    position: absolute;
    top: 65px;
    left: 780px;
    border-radius: 5px;
}
.bulan:hover + .text-medee10 {
    display: flex;
}
.text {
    margin: 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 10px;
    list-style: none;
    gap: 10px;
}
.text-medee1 .text::before {
    content: "\2022";
    color:#407ce8;
    font-size: 1.1em;
    display: inline-block;
    margin-bottom: 0.1em;
    width: 0.5em;
}
.watch {
    list-style: none;
    cursor: pointer;
}
.titles li::before {
    content: "\2022";
    color: red;
    font-size: 1.5em;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0.1em;
    width: 0.5em;
}
.text-medee20 {
    background-color: white;
    height: 150px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    display: none;
    position: absolute;
    top: 65px;
    left: 925px;
    border-radius: 5px;
    z-index: 2;
}
.watch:hover + .text-medee20 {
    display: flex;
}
.text-medee30 {
    background-color: white;
    height: 200px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    position: absolute;
    align-items: start;
    top: 65px;
    left: 1000px;
    border-radius: 5px;
    z-index: 2;
}
.header-style:hover + .text-medee30 {
    display: flex;
}
.icon-pic {
    height: 12px;
    width: 10.5px;
    transform: rotate(90deg);
    padding-bottom: 10px;
}
#logo-image {
    height: 39px;
    width: 119px;
}
#search-icon {
    height: 20px;
    width: 20px;
    -webkit-transform: scaleX(1);
    padding: 0;
    cursor: pointer;
}
p {
    font-size: 16px;
    margin: 0;
}
.weather-and-date {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0;
    height: 50px;
    width: 270px;
    justify-content: space-between;
    margin-left: 20px;
}
.icon-and-number {
    display: flex;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    font-size: 18px;
}
#weather-icon {
    height: 20px;
    width: 20px;
    margin-right: 8px;
}
#calendar-icon {
    height: 17px;
    width: 17px;
    margin-right: 10px;
}
#dollar {
    color: #2adb00;
    font-size: 19px;
    font-weight: bold;
}
#line {
    width: 2px;
    height: 18px;
    background-color: rgb(213, 212, 212);
    margin: 0px 7px;
}

.header-little-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 39px;
    width: 1100px;
    margin: 0px 0px 20px;
    padding: 0;
    justify-content: space-between;
}
.header-pra {
    height: 763px;
    width: 1180px; 
    margin: 0px 164px;
    padding: 0px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.header-inside-pra {
    width: 1100px;
    height: 748px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title-upper {
    display: flex;
    flex-direction: row;
    height: 385px;
    width: 1115px;
    align-items: center;
}
#title-pic {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.5s ease;
    border-radius: 5px;
}
.title-pic {
    height: 385px;
    width: 542.5px;
    overflow: hidden;
    cursor: pointer;
}
.title-down {
    display: flex;
    height: 333px;
    width: 1100px;
    margin: 30px 0px 0px;
    padding: 0px 0px 50px;
    justify-content: space-between;
}
.down-pic {
    height: 175px;
    width: 263px;
    object-fit: cover;
    transition: 0.5s ease;
}
.down-title-div {
    height: 261px;
    width: 264px;
    
}
.down-title-div1 {
    height: 283px;
    width: 263.75px;
}
.unshih {
    height: 175px;
    width: 263px;
    background-color: black;
    top: 0;
    left: 0;
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.4;
}
.down-title-div2 {
    height: 261px;
    width: 263.75px;

    position: relative;
}
.down-title-div3 {
    height: 283px;
    width: 263.75px;

    position: relative;
}
#intro-pic-down {
    height: 270px;
    width: 263px;
    border-radius: 5px;
}
#Dream {
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    height: 154px;
    width: 502.5px;
}
.down-title-pra1 {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 10px;
    width: 263.75px;
    height: 33px;
}
.down-title-pra2 {
    height: 66px;
    margin: 10px 0px 0px ;
}

.number {
    height: 22px;
    width: 23.75px;
    display: flex;
    margin-top: 10px;
    justify-content: start;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 5px;
}
#share-number {
    font-size: 13PX;
    font-family: Arial, Helvetica, sans-serif;
    color: #8e8e8e;
}
.share-middle {
    height: 13px;
    width: 13px;
}
#title-upper-text {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: #888888;
    height: 60px;
    width: 502.5px;
}
.top {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    margin-left: 10px;
}
.top-number {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#zero {
    height: 36px;
    width: 56.25px;
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    margin-bottom: 10px;
    margin-left: 20px;
    transition: 0.6s ease;
}
#zero:hover {
    background-color: white;
    height: 36px;
    width: 70px;
}
#zero:hover #share-top {
    rotate: 45deg;
}
#zero-5 {
    margin-left: 5px;
}
#share-top {
    height: 16px;
    width: 16px;
    transition: 0.6s ease;
}
#Buisness {
    background-color: rgb(231, 100, 44);
    height: 30px;
    width: 73px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;

    margin-top: 40px;
}
#buisness:hover {
    height: 30px;
    width: 85px;
}
.header-pra{
    width: 1180px;
    height: 763px;
    margin: 0px 0px 10px;
    padding: 5px 0px 0px;
}
.title-upper-left {
    height: 385px;
    width: 542.5px;
    padding: 0px 0px 0px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
}
.GoGo-story {
    height: 280.5px;
    width: 1180px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 40px;
    margin: 0px 164px;
    margin-top: 40px;
}
.story-pic {
    height: 235px;
    width: 170.8px;
    object-fit: cover;
    border-radius: 5px;
    transition: 0.2s ease;
}
.story-pic1 {
    height: 235px;
    width: 170.8px;
    object-fit: cover;
    border-radius: 5px;
    transition: 0.2s ease;
}

.storys {
    position: relative;
    height: 235px;
    width: 170.8px;
    overflow: hidden;
    border-radius: 5px  ;
}
.storys1 {
    position: relative;
    height: 235px;
    width: 170.8px;
    overflow: hidden;
    border-radius: 5px  ;
}
.story-par {
    position: absolute;
    height: 33px;
    width: 150px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    top: 170px;
    left: 10px;
    color: white;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    display: block;
    unicode-bidi: isolate;
}
.storys:hover .story-par {
    height: 100px;
    transition: 0.2s ease-in-out;
    top: 145px;
    -webkit-transition: all .2s ease-in-out;
}
.story-eye {
    position: absolute;
    height: 22px;
    width: 150px;
    top: 210;
    left: 10px;
    visibility: visible;
    display: flex;
}
#story-eye {
    height: 14px;
    width: 15px;
}
#story-p {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    margin-left: 5px;
}
#little-logo {
    position: absolute;
    height: 30px;
    width: 30px;
    opacity: 1;
    top: 10;
    left: 10;
}
.story-down {
    display: flex;
    justify-content: space-between;
}
.whole-story {
    height: 280px;
    width: 1180px;
    display: flex;
    justify-content: center;
}
.story {
    display: flex;
    height: 25.5px;
    width: 1100px;
    display: flex;
    align-items: center;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#GoGo {
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#story {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightskyblue;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 3px;
    color: #ffffff;
    margin-left: 10px;
    font-weight: bold;
}
.story-upper {
    margin-bottom: 20px;
}
.unuudur {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-bottom: 10px;
    align-items: center;
}
.unuudur-p {
    font-size: 16px;
    color: #407ce8;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
}
#unuudur-pic {
    height: 23px;
    width: 26px;
    margin-left: 3px;
}
.unuudur-par {
    margin-bottom: 20px;
}
.unuudur-calendar {
    display: flex;
    gap: 20px;
}
.unuudur-date {
    margin-left: 10px;
}
.unuudur-date1 {
    margin-left: 10px;
    color: #407ce8;
}
.line {
    background-color: lightgray;
    width: 100px;
    height: 8px;
    border-radius: 5px;
}
.line1 {
    background-color: #407ce8;
    width: 100px;
    height: 8px;
    border-radius: 5px;
}
#dot {
    background-color: lightgray;
    height: 27px;
    width: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}
.date {
    transition: 0.5s ease;
}
.date:hover .line{
    background-color: #407ce8;
}
.date:hover .unuudur-date {
    color: #407ce8;
}
.date:hover {
    transform: scale(1.1);
}
#dot:hover {
    background-color: #407ce8;
}
.dot:hover #dot {
    color: white;
}
.container-left {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    height: 3100px;
    width: 690px;
    align-content: space-around;

}
.container-right {
    display: flex;
    flex-direction: column;

}
.container {
    height: 3100px;
    width: 1100px;
    padding: 0px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
.bottom-pic {
    height: 150px;
    width: 210px;
    border-radius: 5px;
    object-fit: cover;
    transition: 0.5s ease;
}
.container-bottom {
    width: 690px;
    height: 2912px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#share-icon {
    height: 14px;
    width: 14px;
}
#share-icon1 {
    height: 12px;
    width: 12px;
}
.share-and-icon {
    display: flex;
    height: 22px;
    width: 450px;
    gap: 40px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #888888;
}
.share-word {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;color: #888888;
}
.trend-word {
    font-size: 12px;
    color: #888888;
    font-family: Arial, Helvetica, sans-serif;
}
.today {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #888888;
}
.tommorow {
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-weight: bold;
}
.time-word {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.share {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

}

.container-bottom-1 {
    display: flex;
    margin-top: 20px;
}
.bottom-par {
    height: 171px;
    width: 480px;
    padding: 0px 0px 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.special {
    margin-bottom: 10px;
    margin-top: 15px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.trend-share-and-icon {
    display: flex;
    height: 20px;
    width: 229px;
    justify-content: space-around;
}
.trend-com {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
#com {
    height: 10px;
    width: 11px;
}
.tsaash-uzeh {
    background-color: #f8f8f8;
    height: 65px;
    width: 650px;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(227, 227, 227);
    padding: 20px;
    cursor: pointer;
}
.tsaash-uzeh:hover {
    color: #00B0F4;
    background-color: white;
    transition: 0.3s ease;
}
#uzeh {
    height: 21px;
    width: 17px;
    margin-left: 5px;
}
.tree {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 30.33px;
    width: 290px;
    margin-top: 60px;
    margin-bottom: 45px;
    padding-left: 50px;
}
#tree {
    height: 30px;
    width: 25px;
    margin-right: 10px;
}
#medee {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.left-middle {
    height: 1100px;
    width: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 50px;
    
}
.right-middle {
    display: flex;
    flex-direction: column;
    width: 290px;
}
#right-middle-pic {
    height: 170px;
    width: 290px;
    border-radius: 5px;
    object-fit: cover;
    transition: 0.5s ease;
}
#fire-pic {
    height: 26px;
    width: 22px;
    display: flex;
}
#trend {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;  
    margin-left: 10px; 
    margin-right: 90px;
    font-weight: bold;
}
.trend-fire {
    height: 88.33px;
    width: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#line-right {
    height: 2970px;
    width: 1px;
    background-color: lightgray;
    margin-top: 60px;
    margin-left: 68px;
}
.number-trend {
    font-size: 46px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
    width: 25px;
    margin-right: 20px;
    margin-top: 0;
    color: #E00034;
}
.trend-par {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin-bottom: 10px;
}   
.trend-date {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #888888;
    margin-top: 5px;
}
.right-bottom {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 250, 248);
    margin-top: 50px;
}
.trend-news {
    display: flex;
    flex-direction: column;
    height: 1400px;
    width: 340px;
    justify-content: space-around;

}
.trend-1 {
    display: flex;
    height: 110px;
    width: 340px;
    margin-left: 30px;
}
.trend-1:hover {
    transform: scale(1.03);
    transition: 0.4s ease-in-out;
}
.trend-1:hover .trend-title {
    opacity: 0.6;
}
.trend-1:hover #trend-title-1 {
    opacity: 0.6;
}
.trend-title {
    height: 66px;
    width: 230px;
}
#trend-title-1 {
    height: 66;
    width: 200px;
    margin-left: 25px;
}
.trend-line {
    background-color: rgb(227, 227, 227);
    height: 1px;
    width: 250px;
    margin-left: 45px;
    margin-bottom: 35px;

}
.interview {
    height: 550px;
    width: 1100px;
    display: flex;
    flex-direction: column;
}
.interview-upper {
    display: flex;
    margin-bottom: 20px;
}
.interview-down {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}
#interview-pic-big {
    height: 500px;
    width: 542.5px;
    border-radius: 5px;
    object-fit: cover;
    transition: 0.5s ease;
}
.interview-pic-small {
    height: 243px;
    width: 263.75px;
    border-radius: 5px;
    object-fit: cover;
    transition: 0.5s ease;
}
.interview-small-inside {
    position: absolute;
    height: 55px;
    overflow: hidden;
    width: 200px;
    top: 120;
    left: 0;
    padding: 20px 20px 25px;
    border-radius: 5px;
}

.interview-down:hover .interview-p{
    opacity: 0.8;
}
.over-hidden:hover .small-p {
    opacity: 0.8;
}
.over-hidden:hover .interview-small-inside {
    top: 100px;
    height: 70px;
    transition: 0.3s ease;
}
.interview-small-inside:hover {
    top: 100px;
    height: 70px;
    transition: 0.3s ease;
}
.small-par {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    height: 55px;
    width: 222px;
    color: white;
    font-weight: 400;
}
.small-p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    background-color: #407ce8;
    height: 26px;
    width: 78px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 5px;
}
.over-hidden{
    width: 100%;
    height: 243px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}

.interview-inside {
    top: 310px;
    left: 0;
    position: absolute;
    height: 130px;
    width: 482.5px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#interview-line {
    height: 1;
    width: 482.5px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}
.more {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    height: 20px;
    width: 482.5px;
    color: white;
    font-weight: 600;
}
.interview-par {
    height: 56px;
    width: 482.5px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 400;
}
.interview-p {
    height: 26px;
    width: 104px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #407CE8;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.interview-pic-small:hover {
    transform: scale(1.1);
}
#interview-pic-big:hover {
    transform: scale(1.1);
}
.interview-pics {
    display: flex;
    justify-content: space-between;
    height: 548px;
    width: 1100px;
}
#mice-pic {
    height: 25px;
    width: 20px;
}
#interview {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.GoGo-style {
    height: 405.5px;
    width: 1100px;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}
.style-upper {
    display: flex;
    height: 225.5px;
    width: 1100px;
}
#GoGo-style {
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}
#style {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #00B0F4;
    height: 25.5px;
    width: 101.1px;
    padding: 2px 3px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-left: 10px;
}
.style-pics {
    height: 230px;
    width: 263.75px;
    border-radius: 8px;
    object-fit: cover;
    transition: 0.5s ease;
    border-radius: 5px;
}
.style-par {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    height: 72px;
    width: 241.75px;
}
.style-date{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    height: 26px;
    width: 241.75px;
    margin: 10px 0px 0px;
    padding: 5px 0px 0px;
}
.style-title {
    height: 100px;
    width: 243.75px;   
    border: 1px solid rgb(230, 228, 228);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
    padding: 10px;
}
.style-down {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    width: 1100px;
}
#style.line {
    height: 2px;    
    width: 50px;
    background-color: #000000;
}
.technology{
    height: 347px;
    width: 1100px;
}
.tech-pics {
    height: 170px;
    width: 263.75px;
    border-radius: 5px;
    transition: 0.5s ease;
}
.tech-upper {
    display: flex;
    height: 28px;
    width: 1100px;
}
#tech {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}
#tech-pic {
    height: 25px;
    width: 23px;
}
.tech-style {
    height: 347.5px;
    width: 1100px;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}
.komik {
    height: 378px;
    width: 1100px;
    display: flex;
    flex-direction: column; 
    margin-top: 60px;  
}
#dino-pic {
    height: 27px;
    width: 25px;
}
#komik-title {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.komik-upper {
    display: flex;
    margin-bottom: 20px;

}
.komik-pics {
    height: 200px;
    width: 542.5px;
    transition: 0.5s ease;
    object-fit: cover;
}
.komik-dowm {
    display: flex;
    justify-content: space-between;
}
.komik-title {
    height: 108px;
    width: 520.5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.black {
    background-color: #1a1a1a;
    height: 717px;
    width: 2290px;
    margin-top: 60px;
    padding: 50px 0px 0px;
    display: flex;
    justify-content: center;
    
}
.black-container {
    background-color: #1a1a1a;
    height: 717px;
    width: 1100px;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.black-title {
    display: flex;
}
#black-pic {
    height: 30px;
    width: 30px;
}
#black-watch {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: #ffffff;
    font-weight: bold;
}
.black-middle {
    height: 320px;
    width: 1100px;
    display: flex;
    justify-content: space-between;
}
.black-middle-whole {
    height: 262px;
    width: 263.75px;
    padding: 0px 0px 50px;
    border-radius: 5px;
}
.black-pics {
    height: 170px;
    width: 263.75px;
    object-fit: cover;
    transition: 0.5s ease;
    border-radius: 5px;
}
.black-middle-date {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #c6c6c6;
    height: 20px;
    width: 263px;
    margin: 0px 0px 10px;
}
.black-middle-pra {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffffcc;
    height: 55px;
    width: 263px;
    margin: 7px 0px 0px;
}
.black-down {
    height: 320px;
    width: 1100px;
    display: flex;
    justify-content: space-between;
}
footer {
    height: 247px;
    width: 1989px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-upper {
    height: 65px;
    width: 1100px;
    display: flex;
    justify-content: space-between;
    padding: 0;
}
#footer-pics {
    height: 20px;
    width: 15px;
}
#footer-logo {
    height: 39px;
    width: 120px;
}
.footer-logo-pra {
    display: flex;
    gap: 25px;
}
.footer-logo {
    display: flex;
    gap: 15px;
    border-radius: 5px;
}
#footer-title {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
#footer-title:hover {
    color: #407CE8;
    transition: 0.2s ease;
}
.footer-logo-pra {
    display: flex;
    height: 22.25px;
    width: 949px;
    justify-content: end;
}
.footer-down-pra {
    display: flex;
    gap: 15px;
    height: 22.25px;
    width: 949px;
    justify-content: end;
}
.footer-whole {
    display: flex;
    flex-direction: column;
    height: 65px;
    width: 949px;
    justify-content: space-between;
}
.logo-footer{
    height: 65px;
    width: 151px;
}
#footer-line {
    height: 1px;
    width: 1100px;  
    background-color: lightgray;
    margin: 30px 0px;
}
.footer-icons {
    height: 20px;
    width: 20px;
    opacity: 0.3;
    cursor: pointer;
}
.footer-icons:hover {
    opacity: 1;
}
.footer-down {
    display: flex;
    justify-content: space-between;
    height: 21px;
    width: 1100px;
}
#footer-2007 {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}
.footer-icon {
    gap: 20px;
    height: 21px;
    width: 530px;
    display: flex;
    justify-content: end;
}
#komik-pra {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;

}
.black-middle-pra {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ffffffcc;
}
.hover {
    position: relative;
    height: 170px;
    width: 263.75px;
    overflow: hidden;
    border-radius: 5px;
}
.hover-read {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    width: 263.75px;
    visibility: hidden;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.hover-black {
    position: absolute;
    background-color: black;
    height: 170px;
    width: 263.75px;
    top: 0;
    left: 0;
    opacity: 0.4;
    visibility: hidden;
}
.hover:hover .hover-read{
    visibility: visible;
}
.hover:hover .hover-black{
    visibility: visible;
}
.hover:hover .black-pics {
    transform: scale(1.1);
}
.title-15 {
    position: relative;
    height: 150px;
    width: 210px;
    overflow: hidden;
    border-radius: 5px;
}
.pra-15 {
    position: absolute;
    top: 0;
    left: 0;
    height: 150px;
    width: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    visibility: hidden;
    color: white;
}
.black-15 {
    position: absolute;
    top: 0;
    left: 0;
    height: 150px;
    width: 210px;
    background-color: black;
    opacity: 0.4;
    visibility: hidden;
}
.title-15:hover .pra-15{
    visibility: visible;
}
.title-15:hover .black-15 {
    visibility: visible;
}
.title-15:hover .bottom-pic {
    transform: scale(1.1);
}
.special-news {
    position: relative;
    height: 170px;
    width: 290px;
    border-radius: 5px;
    overflow: hidden;

}
.special-black {
    position: absolute;
    background-color: black;
    height: 170px;
    width: 290px;
    top: 0;
    left: 0;
    opacity: 0.4;
    visibility: hidden;
}
.special-pra {
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    width: 290px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    visibility: hidden;
}
.special-news:hover .special-black{
    visibility: visible;
}
.special-news:hover .special-pra{
    visibility: visible;
}
.special-news:hover #right-middle-pic {
    transform: scale(1.1);
}
.style-hover {
    position: relative;
    height: 230px;
    width: 263.75px;
    overflow: hidden;
    border-radius: 5px;
}
.style-black {
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    height: 230px;
    width: 263.75px;
    opacity: 0.4;
    border-radius: 5px;
    visibility: hidden;
}
.style-read {
    position: absolute;
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    top: 0;
    left: 0;
    height: 230px;
    width: 263.75px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
.style-hover:hover .style-black {
    visibility: visible;
    border-radius: 5px;
}
.style-hover:hover .style-read {
    visibility: visible;
}
.style-hover:hover .style-pics {
    transform: scale(1.1);
}
.tech-hover {
    position: relative;
    height: 170px;
    width: 263.75px;
    border-radius: 5px;
    overflow: hidden;
}
.tech-read {
    position: absolute;
    height: 170px;
    width: 263.75px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    visibility: hidden;
}
.tech-black {
    position: absolute;
    height: 170px;
    width: 263.75px;
    top: 0;
    left: 0;
    background-color: #000000;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0.4;
}
.tech-hover:hover .tech-black{
    visibility: visible;
}
.tech-hover:hover .tech-read {
    visibility: visible;
}
.tech-hover:hover .tech-pics {
    transform: scale(1.1);
}
.komik-hover {
    position: relative;
    height: 200px;
    width: 542.5px;
    border-radius: 5px;
    overflow: hidden;
}
.komik-read {
    position: absolute;
    height: 200px;
    width: 542.5px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    visibility: hidden;
}
.komik-black {
    position: absolute;
    height: 200px;
    width: 542.5px;
    top: 0;
    left: 0;
    background-color: #000000;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0.4;
}
.komik-hover:hover .komik-read{
    visibility: visible;
}
.komik-hover:hover .komik-black {
    visibility: visible;
}
.komik-hover:hover .komik-pics {
    transform: scale(1.1);
}
.hover-down-pic {
    position: relative;
    height: 175px;
    width: 263px;
    border-radius: 5px;
    overflow: hidden;
}
.read1 {
    position: absolute;
    font-size: 1.2rem;
    top: 0;
    left: 0;
    background-color: black;
    height: 175px;
    width: 263px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.4;
    visibility: hidden;
    border-radius: 5px;
}
.h1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 175px;
    width: 263px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    visibility: hidden;
}
.hover-down-pic:hover .read1 {
    visibility: visible;
    border-radius: 5px;
}
.hover-down-pic:hover .h1{
    visibility: visible;
}
.hover-down-pic:hover .down-pic {
    transform: scale(1.1);
}
.title-pic {
    position: relative;
    height: 385px;
    width: 542.5px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
}
.read {
    position: absolute;
    font-size: 1.2rem;
    top: 0;
    left: 0;
    background-color: black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.4;
    visibility: hidden;
}
.h3 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    visibility: hidden;
}
.title-pic:hover .read{
    visibility: visible;
}
.title-pic:hover .h3 {
    visibility: visible;
}
.title-pic:hover #title-pic{
    transform: scale(1.1);
    border-radius: 5px;
}
.story-pic:hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 1000px) {
    .title-upper {
        display: none;
    }
    .header-inside-pra {
        display: none;
    }
    .header-pra {
        display: none;
    }
    .titles {
        display: none;
    }
    .header-title {
        width: 900px;
        height: 50px;
        margin: 20px;
    }
    .container-right {
        display: none;
    }
    .GoGo-story {
        width: 940px;
        height: 285px;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0px 30px ;

    }
    .storys1 {
        display: none;
    }
    .storys{
        width: 287px;
    }
    .story-pic {
        height: 235px;
        width: 287px;
        overflow: visible;
    }
    .unuudur-par {
        display: none;
    }
    .header-little-title{
        justify-content: flex-start;
    }
    .container {
        height: 3000px;
        width: 1000px;
    }
    .bottom-pic {
        height: 140px;
        width: 253px;
    }
    .title-15 {
        height: 140px;
        width: 253px;
    }
    .container-bottom-1 {
        height: 161px;
        width: 970px;
    }
    .container-bottom{
        height: 3000px;
        width: 970px;
    }
    .story-down {
        width: 940px;
        height: 280px;
    }
    .title {
        margin: 0;
        padding: 0;
        width: 1000px;
    }
    .story {
        width: 940px;
    }
    #line-right {
        display: none;
    }
    .container {
        padding: 0;
        margin: 0;
    }
    .bottom-par {
        width: 717px;
        padding: 0px 0px 0px 15px;
    }
    .container-left {
        width: 970px;
        margin: 0px 0px 0px 30px;
    }
    .story-par {
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
        height: 34px;
        width: 269px;
    }
    .story-eye {
        height: 22px;
        width: 269px;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .tsaash-uzeh {
        height: 65px;
        width: 898px;
        padding: 20px;
    }
    .interview {
        margin-top: 100px;
        width: 940px;
        display: flex;
        padding: 0px 30px;
        height: 970px;
    }
    #interview-pic-big {
        height: 400px;
        width: 540px
    }
    .interview-pic-small {
        height: 243px;
        width: 441px;
    }
    .interview-pics {
        height: 920px;
        width: 940px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
    }
    .interview-down {
        display: flex;
        flex-direction: row;

        margin: 0;
        padding: 0;
    }
    .interview-p {
        height: 26px;
        width: 104px;
    }
    .interview-inside {
        top: 220px;
    }
    .small-p {
        height: 26px;
        width: 78px;
    }
    .small-par  {
        height: 36px;
        width: 400px;
    }
    .interview-small-inside {
        height: 112px;
        width: 441px;
        padding: 20px 20px 25px;
    }
    .over-hidden {
        margin: 15px 0px 0px;
        padding: 0px 0px 0px 15px ;
    }
    #interview {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
    }
    .interview-upper {
        height: 24px;
        width: 132px;
    }
    .style2 {
        display: none;
    }
    .GoGo-style {
        height: 405px;
        width: 940px;
        padding: 0px 30px;
    }
    .style-down {
        height: 360px;
        width: 940px;
    }
    .style-hover {
        height: 230px;
        width: 289.23px;
    }
    .style-pics {
        height: 230px;
        width: 289.23;
    }
    .style-title {
        height: 110px;
        width: 269.32px;
    }
    .style-upper {
        width: 940px;
    }
    .tech2 {
        display: none;
    }
    .tech-hover {
        height: 230px;
        width: 289.23px;
    }
    .tech-pics {
        height: 230px;
        width: 289.23;
    }
    .style-down {
        height: 360px;
        width: 940px;
    }
    .tech-style {
        height: 405px;
        width: 940px;
        padding: 0px 30px;
    }
    .tech-upper {
        width: 940px;
    } 
    .komik {
        height: 370px;
        width: 940px;
        padding: 0px 30px;
    }
    .komik-pics {
        height: 200px;
        width: 441px;
    }   
    .komik-hover {
        height: 200px;
        width: 441px;  
    }
    .komik-pra {
        height: 330px;
        width: 421px;
    }
    .komik-title {
        height: 110px;
        width: 421px;
        padding: 10px;
    }
    .komik-dowm {
        width: 940px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .whole-story{
        width: 1000px;
    }
    .black {
        height: 1400px;
        width: 940px;
        padding: 0px 30px;
    }
    .black-middle {
        display: flex;
        flex-direction: column;
        height: 1300px;
        width: 940px;
    }
    .black-container {
        height: 1400px;
        width: 940px;
        padding: 0px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .black-middle-whole {
        height: 312px;
        width: 441px;
        padding: 0px 0px 50px;
    }
    .black-down {
        display: flex;
        flex-direction: column;
        height: 1300px;
        width: 940px;
    }
    .black1 {
        display: flex;
    }
    .black-pics {
        height: 170px;
        width: 441px;
    }
    .hover {
        height: 170px;
        width: 441px;
    }
    .black-middle-pra {
        height: 55px;
        width: 441px;
    }
    footer {
        height: 147px;
        width: 1000px;
        padding: 50px 0px;
    }
    .footer1 {
        height: 247px;
        width: 940px;
        padding: 0px 30px;
    }
    .footer-upper {
        width: 940px;

    }
    .footer-whole {
        height: 65px;
        width: 696px;
    }
    .footer-logo-pra {
        height: 65px;
        width: 696px;
    }
    .footer-down {
        height: 20px;
        width: 940px;
    }
    #footer-line {
        width: 940px;
    }
    .footer-down-pra {
        width: 496px;
        padding-right: 200px;
    }
    .footer-logo{
        height: 22px;
        width: 225px;
    }
    #footer-title {
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
    }
}